:root {
  --Primary-100: #fff1ca;
  --Primary-200: #ffe295;
  --Primary-300: #ffd45f;
  --Primary-400: #ffc52a;
  --Primary-500: #f4b200;
  --Primary-600: #c38e00;
  --Primary-700: #926b00;
  --Primary-800: #624700;
  --Primary-900: #312400;
  --Secondary-100: #e9daef;
  --Secondary-200: #d3b5df;
  --Secondary-300: #be90cf;
  --Secondary-400: #a86bbe;
  --Secondary-500: #904aaa;
  --Secondary-600: #733b88;
  --Secondary-700: #562c66;
  --Secondary-800: #3a1e44;
  --Secondary-900: #1d0f22;
  --Tertiary-100: #e5e6e7;
  --Tertiary-200: #cbcccf;
  --Tertiary-300: #b2b3b8;
  --Tertiary-400: #9899a0;
  --Tertiary-500: #7e8088;
  --Tertiary-600: #65666d;
  --Tertiary-700: #4b4d52;
  --Tertiary-800: #323337;
  --Tertiary-900: #191a1b;
  --Dark-100: #c8cfdf;
  --Dark-200: #919fbf;
  --Dark-300: #5c709e;
  --Dark-400: #3c4967;
  --Dark-500: #1c2230;
  --Dark-600: #161b26;
  --Dark-700: #11141d;
  --Dark-800: #0b0e13;
  --Dark-900: #06070a;
  --Light-100: #edeffa;
  --Light-200: #dae0f4;
  --Light-300: #c8d0ef;
  --Light-400: #b5c1e9;
  --Light-500: #a3b1e4;
  --Light-600: #677ed2;
  --Light-700: #3551b5;
  --Light-800: #233679;
  --Light-900: #121b3c;
  --Gray-100: #e7e7eb;
  --Gray-200: #cfd0d8;
  --Gray-300: #b7b8c4;
  --Gray-400: #9fa1b1;
  --Gray-500: #87899d;
  --Gray-600: #696b81;
  --Gray-700: #4f5060;
  --Gray-800: #353640;
  --Gray-900: #1a1b20;
  --Success-100: #daf1e3;
  --Success-200: #b5e3c7;
  --Success-300: #91d4aa;
  --Success-400: #6cc68e;
  --Success-500: #47b872;
  --Success-600: #39935b;
  --Success-700: #2b6e44;
  --Success-800: #1c4a2e;
  --Success-900: #0e2517;
  --Danger-100: #fbd8d8;
  --Danger-200: #f8b2b2;
  --Danger-300: #f48b8b;
  --Danger-400: #f16565;
  --Danger-500: #ed3e3e;
  --Danger-600: #db1414;
  --Danger-700: #a40f0f;
  --Danger-800: #6d0a0a;
  --Danger-900: #370505;
  --Warning-100: #fceed6;
  --Warning-200: #faddac;
  --Warning-300: #f7cc83;
  --Warning-400: #f5bb59;
  --Warning-500: #f2aa30;
  --Warning-600: #da8e0e;
  --Warning-700: #a46b0a;
  --Warning-800: #6d4707;
  --Warning-900: #372403;
  --Info-100: #cce2f6;
  --Info-200: #99c4ec;
  --Info-300: #66a7e3;
  --Info-400: #338ada;
  --Info-500: #206bb0;
  --Info-600: #1a568d;
  --Info-700: #13406a;
  --Info-800: #0d2b46;
  --Info-900: #061523;
}
